.venv/
.workspace/
.west/
.bootstrap-artifacts/
build/
build-*/
twister-out/
.pytest_cache/
__pycache__/
*.pyc
compile_commands.json
zephyr/
.zread/
logs/
artifacts/
third_party/*
!third_party/cmsis_dsp/
third_party/cmsis_dsp/*
!third_party/cmsis_dsp/Include/
!third_party/cmsis_dsp/Include/**
!third_party/cmsis_dsp/PrivateInclude/
!third_party/cmsis_dsp/PrivateInclude/**
!third_party/cmsis_dsp/Source/
!third_party/cmsis_dsp/Source/**
