menu "RSCF Services"

config RSCF_EVENT_BUS
  bool "Enable RSCF event bus"
  default y

config RSCF_DAEMON_SERVICE
  bool "Enable RSCF daemon service"
  default y

config RSCF_HEALTH_SERVICE
  bool "Enable RSCF health service"
  default y

config RSCF_LED_STATUS
  bool "Enable RSCF LED status driver"
  default y

config RSCF_EXT_UART_MUX
  bool "Enable RSCF external UART mux driver"
  default y

config RSCF_BUZZER
  bool "Enable RSCF buzzer driver"
  default y

config RSCF_COMM_SERVICE
  bool "Enable RSCF communication service"
  default y

config RSCF_CHASSIS_SERVICE
  bool "Enable RSCF chassis service"
  default y

config RSCF_MOTOR_SERVICE
  bool "Enable RSCF motor service"
  default y

config RSCF_DTOF2510
  bool "Enable RSCF DTOF2510 service"
  default y

config RSCF_IMU_UART
  bool "Enable RSCF IMU UART bridge"
  default y

config RSCF_DEBUG_FAULT
  bool "Enable RSCF debug fault service"
  default n

endmenu
