/dts-v1/;

#include <st/f4/stm32f427Xi.dtsi>
#include <st/f4/stm32f427i(g-i)hx-pinctrl.dtsi>
#include "rscf_a_f427iih6-pinctrl.dtsi"
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
  model = "NCURC RSCF A STM32F427IIH6";
  compatible = "ncurc,rscf-a-f427iih6";

  chosen {
    zephyr,console = &usart1;
    zephyr,shell-uart = &usart1;
    zephyr,sram = &sram0;
    zephyr,flash = &flash0;
  };

  aliases {
    led0 = &status_led;
    sw0 = &user_button;
  };

  leds {
    compatible = "gpio-leds";

    status_led: led_g {
      gpios = <&gpiof 14 GPIO_ACTIVE_LOW>;
      label = "LED_G";
    };
  };

  buttons {
    compatible = "gpio-keys";

    user_button: user_button {
      gpios = <&gpiob 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Key";
      zephyr,code = <INPUT_KEY_0>;
    };
  };

  rscf_board: rscf_board {
    compatible = "ncurc,rscf-a-board";
    console-uart = <&usart1>;
    imu-uart = <&usart6>;
    ext-mux-uart = <&uart8>;
    can-primary = <&can1>;
    can-secondary = <&can2>;
    usb-device = <&usbotg_fs>;
    status-led = <&status_led>;
  };
};

&clk_hse {
  clock-frequency = <12000000>;
  status = "okay";
};

&pll {
  clocks = <&clk_hse>;
  div-m = <6>;
  mul-n = <168>;
  div-p = <2>;
  div-q = <7>;
  status = "okay";
};

&rcc {
  clocks = <&pll>;
  clock-frequency = <168000000>;
  ahb-prescaler = <1>;
  apb1-prescaler = <4>;
  apb2-prescaler = <2>;
};

&usart1 {
  pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
  pinctrl-names = "default";
  current-speed = <115200>;
  status = "okay";
};

&usart2 {
  pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
  pinctrl-names = "default";
  current-speed = <115200>;
  status = "okay";
};

&usart3 {
  pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
  pinctrl-names = "default";
  current-speed = <115200>;
  status = "okay";
};

&usart6 {
  pinctrl-0 = <&usart6_tx_pg14 &usart6_rx_pg9>;
  pinctrl-names = "default";
  current-speed = <115200>;
  status = "okay";
};

&uart7 {
  pinctrl-0 = <&uart7_tx_pe8 &uart7_rx_pe7>;
  pinctrl-names = "default";
  current-speed = <115200>;
  status = "okay";
};

&uart8 {
  pinctrl-0 = <&uart8_tx_pe1 &uart8_rx_pe0>;
  pinctrl-names = "default";
  current-speed = <115200>;
  status = "okay";
};

&can1 {
  pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
  pinctrl-names = "default";
  bitrate = <1000000>;
  status = "okay";
};

&can2 {
  pinctrl-0 = <&can2_rx_pb12 &can2_tx_pb13>;
  pinctrl-names = "default";
  bitrate = <1000000>;
  status = "okay";
};

&spi4 {
  pinctrl-0 = <&rscf_spi4_nss_pe4 &spi4_sck_pe12
               &rscf_spi4_miso_pe5 &rscf_spi4_mosi_pe6>;
  pinctrl-names = "default";
  status = "okay";
};

&spi5 {
  pinctrl-0 = <&spi5_nss_pf6 &spi5_sck_pf7
               &spi5_miso_pf8 &spi5_mosi_pf9>;
  pinctrl-names = "default";
  status = "okay";
};

&i2c2 {
  pinctrl-0 = <&i2c2_scl_pf1 &i2c2_sda_pf0>;
  pinctrl-names = "default";
  clock-frequency = <I2C_BITRATE_FAST>;
  status = "okay";
};

&usbotg_fs {
  pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
  pinctrl-names = "default";
  status = "okay";
};

&timers4 {
  status = "okay";

  pwm4: pwm {
    status = "okay";
    pinctrl-0 = <&tim4_ch1_pd12 &tim4_ch2_pd13
                 &tim4_ch3_pd14 &tim4_ch4_pd15>;
    pinctrl-names = "default";
  };
};

&timers5 {
  status = "okay";

  pwm5: pwm {
    status = "okay";
    pinctrl-0 = <&tim5_ch1_pa0 &tim5_ch2_pa1
                 &tim5_ch3_pa2 &tim5_ch4_pa3>;
    pinctrl-names = "default";
  };
};
